.innerBox{
    border-radius: 20px;
    padding: 0.5rem 0;
    background-color: white;
    text-align: center;
};
.graText{
    text-transform: uppercase;
	background: linear-gradient(to right, #19adb1 0%,  #0a6dc3 100%);
	/* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: bold;
}
.table-div{
    padding: 1rem;
    background-color: white;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
  };