/* Sidebar menu */
.sidebar{
  float:left;
  background: rgb(33,201,159);
  background: linear-gradient(140deg, rgba(33,201,159,1) 0%, rgba(41,130,153,1) 100%);
  width:80px;
  height:100vh;
  /* position: fixed; */
}
.bm-menu {
  background: rgb(33,201,159);
  background: linear-gradient(140deg, rgba(33,201,159,1) 0%, rgba(41,130,153,1) 100%);
  padding-top: 2.5em;
  font-size: 1.15em;
}

/* Sidebar button */
.bm-burger-bars {
  background: white;
}
.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 18px;
  float: left;
  left: 30px;
  top: 25px;
}
.bm-cross-button {
  height: 24px;
  width: 24px;
}
.bm-cross {
  background: #e0f3ff;
}

/* Sidebar items */
.link {
  display: inline-block;
  font-size:20px;
  font-weight: 300;
  color:white;
  transition: background-color 0.5s;
  padding: 10px 50px;
}
.link:hover{
  background-color:	#ceecfd;
  color:#298299;
  text-decoration: none;
}
.activeLink{
  font-weight: 700;
  background-color:	#e0f3ff;
  color: #298299;
}

.content{
  padding: 2em 6em;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
li {
  display: list-item;
}
.header-megamenu.nav>li>.nav-link {
  padding-left: .66667rem;
  padding-right: .66667rem;
}
.space-me{
  padding-left: .66667rem;
}
.nav-item {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  /* background-color: #ECEDEE; */
  border-radius: 15px;
  text-transform: uppercase;
  font-size: medium;
}
#header-nav{
  display: block;
  float: left;
}
.small-avatar{
  height: 3rem;

}
span{
  padding-left: 0.66667rem;
}
.icon-wrapper-bg {
  /* opacity: .1; */
  width: 2.5rem;
  height: 2.5rem;
  transition: opacity .2s;
  border-radius: 40px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  line-height: 2.5rem;
  background-color: #fdba9a!important;
}

