/* Sidebar menu */
.sidebar{
  float:left;
  background: rgb(33,201,159);
  background: linear-gradient(140deg, rgba(33,201,159,1) 0%, rgba(41,130,153,1) 100%);
  width:80px;
  height:100vh;
  position: fixed;
}
.bm-menu {
  background: rgb(33,201,159);
  background: linear-gradient(140deg, rgba(33,201,159,1) 0%, rgba(41,130,153,1) 100%);
  padding-top: 2.5em;
  font-size: 1.15em;
}

/* Sidebar button */
.bm-burger-bars {
  background: white;
}
.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 18px;
  float: left;
  left: 30px;
  top: 25px;
}
.bm-cross-button {
  height: 24px;
  width: 24px;
}
.bm-cross {
  background: #e0f3ff;
}

/* Sidebar items */
.link {
  display: inline-block;
  font-size:20px;
  font-weight: 300;
  color:white;
  transition: background-color 0.5s;
  padding: 10px 50px;
}
.link:hover{
  background-color:	#ceecfd;
  color:#298299;
  text-decoration: none;
}
.activeLink{
  font-weight: 700;
  background-color:	#e0f3ff;
  color: #298299;
}

.content{
  padding: 2em 6em;
}